@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Upload File</h1>

    <h2>@ViewData["message"]</h2>

    <form asp-controller="Home"
          asp-action="Upload"
          method="post"
          enctype="multipart/form-data">

        <input type="file" name="file" />
        <br /><br />
        <button type="submit">Upload File</button>
    </form>
</div>
